@import "../global/color";

.dark-mode {
  background-color: $darkBackground;
  color: $textColorDark !important;
  transition: "0.1s";
}

.global {
    background-color: $lightBackground1;
    color: black;
    transition: "0.1s";
}

.opacity{
  opacity: 1;
}
