@import "../../global/base";

.education-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media (max-width: 640px) {
  .education-card-container {
    grid-template-columns: 1fr;
  }
}
