@import "../../global/base";

.repo-card-div {
  padding: 1.75rem;
  cursor: pointer;
  transition: border-color 0.2s ease;

  &:hover {
    border-color: $blue;
  }
}

.repo-stats {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: $muted;
}

.repo-left-stat {
  flex-grow: 1;
  display: flex;
}

.language-color {
  width: 10px;
  height: 10px;
  margin-right: 0.4rem;
  border-radius: 100%;
}

.repo-left-stat span {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}

.repo-name-div {
  display: flex;
  align-items: center;
  color: $blue;
}

.repo-svg {
  margin-right: 0.5rem;
  min-width: 16px;
  fill: currentColor;
}

.repo-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $text;
  overflow: hidden;
  margin: 0 0 0.75rem;
  font-size: 18px;
  font-weight: 700;
}

.repo-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: $muted;
  font-size: 14px;
  margin-bottom: 1.25rem;
  min-height: 2.6em;
}
